Repository GitCodeCareer/discord-bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crock, @benjaminspak, @ap4gh, @ThomasErhel

wikitionary api to search meaning
  commands/define.js
Owners: @ap4gh

Updated title quote command
  commands/quote.js
Owners: @ThomasErhel

Updated title quote command (#44)
  commands/quote.js
Owners: @ThomasErhel

Added a help command
  commands/help.js
  data/commands.json
Owners: @crock, @benjaminspak

Added a help command (#45)
  commands/help.js
  data/commands.json
Owners: @crock, @benjaminspak

Fixed quote command
  commands/quote.js
Owners: @ThomasErhel

Fixed quote command (#46)
  commands/quote.js
Owners: @ThomasErhel

Updated quote command 👨‍🚀
  .env.example
  commands/quote.js
  package.json
Owners: @crock, @benjaminspak, @ThomasErhel

Handle promise rejections & Updated Deps
  commands/quote.js
  package.json
Owners: @ThomasErhel, @crock, @benjaminspak

🌑🏓 Updated with Glitch
  .env.example
  events/ready.js
  logs/.gitkeep
  package.json
  shrinkwrap.yaml
Owners: @crock, @benjaminspak

🌑🏓 Updated with Glitch (#49)
  .env.example
  events/ready.js
  logs/.gitkeep
  package.json
  shrinkwrap.yaml
Owners: @crock, @benjaminspak

Delete package.json
  package.json
Owners: @crock, @benjaminspak

🕵🎤 Updated with Glitch
  commands/quote.js
  package.json
  shrinkwrap.yaml
Owners: @ThomasErhel, @crock, @benjaminspak

🕵🎤 Updated with Glitch (#50)
  commands/quote.js
  package.json
  shrinkwrap.yaml
Owners: @ThomasErhel, @crock, @benjaminspak

Add Axios, add tests, update Deps 🚀
  commands/quote.js
  package.json
  tests/quote.test.js
Owners: @ThomasErhel, @crock, @benjaminspak

Add Axios, add tests, update Deps 🚀 (#51)
  commands/quote.js
  package.json
  tests/quote.test.js
Owners: @ThomasErhel, @crock, @benjaminspak

Update Quote Command, Readme, Bump Deps.
  .env.example
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  commands/quote.js
  package-lock.json
  package.json
  tests/quote.test.js
  utils/config.js
  yarn.lock
Owners: @crock, @benjaminspak, @ThomasErhel

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
* @crock @benjaminspak

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/commands/define.js @ap4gh
/commands/sectional.js @ap4gh
/commands/quote.js @ThomasErhel
